body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

input, button {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px;
}

#weatherData {
    margin-top: 20px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#weatherData p {
    margin: 5px 0;
}
